<div class="country-card">
{{#each this}}
<div class="card">
  <div class="card-img">
    <img src={{flag}} alt={{name}} width="200">
  </div>
  <div class="card-body">
    <h2 class="card-tittle">{{name}}</h2>
    <p class="card-text">Capital: {{capital}}</p>
    <p class="card-text">Population: {{population}}</p>
    <p class="card-text">Languages:</p>
    <ul class="list-languages"></ul>
    {{#each languages}}
    <li class="list-languages-item">{{name}}</li>
    {{/each}}
    </ul>

  </div>
</div>
  {{/each}}
  </div>